@font-face {
  font-family: 'MyFont';
  src: url('./font-exampl2.woff2') format('woff2'),
    url('./font-example.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.hello {
    color: blue;
    font-family: 'MyFont';
    background: url('./icon.png');
}