@font-face {
  font-family: 'MyFont';
  src: url('./font-exampl2.woff2') format('woff2'),
    url('./font-example.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
body {
  margin: 0;
}

.page {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 6fr;
  height: 100vh;
}

.top {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: rgb(128, 76, 130);
  color: rgb(255, 255, 255);
  font-size: 2.5em;
}
.side {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  background-color: #B083B0;
  color: rgb(255, 255, 255);
  font-size: 1.5em;

  /* display: flex;
  justify-content: flex-start;
  align-items: space-around; */
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
}
.tasks {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  background-color: rgb(237, 215, 237);
  color: blue;
  /* #2C1E25 --- can be the color for the text
  #D1B0D2 -- color for the outline
  #C094BD --- color for highlight? */
}

.sidebar-task-folder {
  padding: 3px;
}

.mini-sidebar-task-folder {
  padding: 6px 3px 3px 3px;
}