@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Regular.ttf') format(ttf);
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.page {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 6fr;
  height: 100vh;
}
/*   page title */
.top {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: rgb(128, 76, 130);
  color: rgb(255, 255, 255);
  font-size: 2.5em;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
/*   side bar */
.side {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  background-color: rgb(176, 131, 176);
  color: rgb(255, 255, 255);
  font-size: 1.5em;

  /* display: flex;
  justify-content: flex-start;
  align-items: space-around; */
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
}
/*   main area where thee task listings reside */
.tasks {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  background-color: rgb(237, 215, 237);
  /* #2C1E25 --- can be the color for the text
  #D1B0D2 -- color for the outline
  #C094BD --- color for highlight? */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
/* top folder in the sidebar */
.sidebar-task-folder {
  padding: 5px 10px;
}
/* themed projects in the sidebar */
.mini-sidebar-task-folder {
  padding: 5px 10px 5px 20px;
  color: rgb(209, 176, 210);
}

/*   css for the task listing in the main area */
.task-listing {
  background-color: rgb(229, 199, 229);
  color: rgb(91, 59, 92);
  border:1px solid rgb(192, 148, 189);
  border-radius: 5px;
  margin: 8px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.task-listing-title {
  font-size: 1.2em;
  margin: 15px 5px 5px 10px;
}

.task-listing-description,
.due-date {
  font-size: 0.9em;
  margin: 5px 10px;
}

/* changing priority level */
.task-listing.priority-high {
  border-left: 5px solid crimson;
}
input.priority-high {
  accent-color: crimson;
}

.task-listing.priority-medium {
  border-left: 5px solid orange;
}
input.priority-medium {
  accent-color: orange;
}

.task-listing.priority-low {
  border-left: 5px solid seagreen;
}
input.priority-low {
  accent-color: seagreen;
}

.add-new-button {
  background-color: rgb(192, 148, 189);
  color: rgb(237, 215, 237);
  padding: 10px;
  font-size: 0.5em;
  border: 2px solid rgb(229, 199, 229);
  border-radius: 7px;
}
.add-new-button:hover {
  background-color: rgb(237, 215, 237);
  color: rgb(192, 148, 189);
}

.icon-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.eighteen-px-size {
  max-height: 18px;
}

/* the form styles */
.overlay-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.popup-box {
  background: #fff; 
  padding: 24px; 
  border-radius: 12px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); 
  width: 320px; 
  text-align: center; 
  opacity: 0; 
  transform: scale(0.8); 
  animation: fadeInUp 0.5s ease-out forwards; 
}

.form-container {
  display: flex; 
  flex-direction: column;
}

.form-label {
  margin-bottom: 10px; 
  font-size: 16px; 
  color: #444; 
  text-align: left; 
}

 .form-input { 
  padding: 10px; 
  margin-bottom: 20px; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  font-size: 16px; 
  width: 100%; 
  box-sizing: border-box; 
}

#button-submit {
  background-color: green; 
  color: #fff;
}

#button-submit:hover {
  background-color: #4caf50; 
}

  /* Keyframes for fadeInUp animation */ 
@keyframes fadeInUp { 
  from { 
    opacity: 0; 
    transform: translateY(20px); 
  } 
  
  to { 
    opacity: 1; 
    transform: translateY(0); 
  } 
} 
  
  /* Animation for popup */ 
.overlay-container.show { 
  display: flex; 
  opacity: 1; 
} 